@charset "utf-8";

/* Hidden Objects */
nav,
footer,
article {
	display: none;
}
section {
	width: 6in;
	margin: 0in auto;
}
/* Comic Book Sheet Styles */
img.size1 {
	width: 5in;
}
img.size2 {
	width: 3in;
}
img.size3 {
	width: 2in;
}
img.size4 {
	width: 1.5in;
}
